@page "/projects/building-my-website"

<h1>Building My Website</h1>

<p>
    My websit is built using Microsft's Blazor framework.
    Blazor allows me to create UI using C# instead of JavaScript, so both server-side and client-side logic is written in .NET.
    The official documentation for Blazor can be found <a href="https://docs.microsoft.com/en-gb/aspnet/core/blazor/?view=aspnetcore-5.0" target="_blank">here</a>.
</p>