@page "/projects"

<h1>My Projects</h1>

<h2>Coding Projects</h2>
<ProjectsList ProjectsFileLoc="Projects/CodingProjects.json"></ProjectsList>

<h2>Engineering Projects</h2>
<ProjectsList ProjectsFileLoc="Projects/EngineeringProjects.json"></ProjectsList>