@page "/projects"

<h1>My Projects</h1>

<h2>Coding Projects</h2>
<ul class="coding projects">
    <li class="list item">
        <NavLink class="nav-link" href="/projects/buildingmywebsite">
            Building my website
        </NavLink>
    </li>
</ul>
