<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="oi oi-menu" style="font-size: 1.5rem;"></span>
    </button>
    <div style="padding-right: 0.5rem;">
        <a href="https://github.com/Janderzon" target="_blank"><img src="/Assets/GitHub/GitHub-Mark-Light-32px.png" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/james-anderson-8336b0150" target="_blank"><img src="/Assets/LinkedIn/LI-In-Bug-White-32px.png" alt="LinkedIn"></a>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-project" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
    </ul>

    <div class="media-icons">
        <a href="https://github.com/Janderzon" target="_blank"><img src="/Assets/GitHub/GitHub-Mark-Light-32px.png" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/james-anderson-8336b0150" target="_blank"><img src="/Assets/LinkedIn/LI-In-Bug-White-32px.png" alt="LinkedIn"></a>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
